@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* Colors */

:root {
    --primary: #FFFFFF;
    --flashy: #00FFE1;
    --black: #000000;
}